<form method="post">
    <div>
        <label class="form-label">Name</label>
        <input name="Name" class="form-control" placeholder="name..." />

    </div>
    <div class="my-2">
        <input type="submit"class="btn btn-success" value="Create-Blog" />


    </div>



</form>